---
import LandingHeader from '../components/LandingHeader.astro'
import LandingSection from '../components/LandingSection.astro'
import ModelY from '../components/ModelYSection.astro'
import Model3 from '../components/Model3Section.astro'
import ModelS from '../components/ModelSSection.astro'
import ModelX from '../components/ModelXSection.astro'
import Powerwall from '../components/PowerwallSection.astro'
import Accesories from '../components/AccesoriesSection.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Tesla - El coche de tus sueños (y de Elon Musk)'>
  <LandingHeader />

  <main class='snap-y snap-mandatory relative w-full h-screen overflow-auto'>
    <LandingSection />
    <ModelY />
    <Model3 />
    <ModelS />
    <ModelX />
    <Powerwall />
    <Accesories />
  </main>
</Layout>
