---
import Section from './Section.astro'
---

<Section
  color='white'
  title='Disfrute de Tesla'
  subtitle='Programe una prueba de conduccion hoy mismo'
>
  <p
    slot='subtitle'
    class=`text-white text-sm`
    >Programe una prueba de conduccion hoy mismo
  </p>
  
  <footer
    slot='footer'
    class='flex flex-col flex-grow justify-end pb-16'
  >
    <div>
      <a
        class='text-white text-sm font-medium border-[3px] inline-block rounded px-12 py-[0.45rem] hover:bg-white hover:text-black transition-colors backdrop-blur-sm'
        href='#'
        >Prueba de conducción</a
      >
    </div>
  </footer>

  <video
    slot='background'
    class='object-cover object-center h-full w-full'
    src='/video.webm'
    autoplay
    muted
    loop
  ></video>
</Section>
