<section
  class='landing-section bg-black h-screen w-full text-center relative overflow-hidden snap-center'
  data-header-color='white'
>
  <div class='z-30 relative h-full flex flex-col'>
    <header>
      <h2 class='text-white pt-36 text-[40px] font-medium'>
        Disfrute de Tesla
      </h2>
      <p class='text-white text-sm'>
        Programe una prueba de conduccion hoy mismo
      </p>
    </header>

    <footer class='flex flex-col flex-grow justify-end pb-20'>
      <div>
        <a
          class='text-white text-sm font-medium border-[3px] inline-block rounded px-12 py-[0.45rem] hover:bg-white hover:text-black transition-colors backdrop-blur-sm'
          href='#'
          >Prueba de conducción</a
        >
      </div>
    </footer>
  </div>

  <div class='absolute top-0 bottom-0 h-full w-full z-10'>
    <video
      class='object-cover object-center h-full w-full'
      src='/video.webm'
      autoplay
      muted
      loop
    ></video>
  </div>
</section>
