---
import Section from './Section.astro'
---

<Section
  color='black'
  title='Model Y'
  id='section-model-y'
>
  <a
    slot='subtitle'
    href='#'
    class='text-[var(--dark)] text-sm underline underline-offset-4 border-b-transparent border-b-2 hover:border-black transition-all'
  >
    Concertar una prueba de conducción
  </a>
  <footer
    slot='footer'
    class='flex flex-col flex-grow justify-end'
  >
    <div class='flex flex-row justify-center gap-6 mb-9'>
      <a
        class='text-white text-sm font-medium border-[3px] inline-flex justify-center items-center rounded border-transparent px-[3.6rem] py-[0.45rem] bg-[var(--dark)] hover:text-black transition-colors backdrop-blur-sm'
        href='#'
        >Explorar inventario</a
      >
      <a
        class='text-gray-800 text-sm font-medium border-[3px] inline-flex justify-center items-center rounded border-transparent px-[3.3rem] py-[0.4rem] bg-gray-100 hover:text-black transition-colors backdrop-blur-sm'
        href='#'
        >Pedido personalizado</a
      >
    </div>
    <div class='flex flex-row justify-center'>
      <a
        class='text-gray-800 text-xs inline-block underline underline-offset-4 border-b-transparent border-b-2 hover:border-black transition-all'
        href='#'
        >Disponible con Moves III</a
      >
    </div>
  </footer>

  <img
    slot='background'
    class='object-cover h-full w-full object-center'
    alt='Model Y'
    src='/model-y.jpg'
  />
</Section>
