---
import Section from './Section.astro'
---

<Section
  color='black'
  title='Model S'
  id='section-model-s'
>
  <a
    slot='subtitle'
    href='#'
    class='text-[var(--dark)] text-sm underline underline-offset-4 border-b-transparent border-b-2 hover:border-black transition-all'
  >
    Programe una consulta virtual
  </a>
  <footer
    slot='footer'
    class='flex flex-col flex-grow justify-end mb-16'
  >
    <div class='flex flex-row justify-center gap-6'>
      <a
        class='text-white text-sm font-medium border-[3px] inline-flex justify-center items-center rounded border-transparent px-12 py-[0.45rem] bg-[var(--dark)] hover:text-black transition-colors backdrop-blur-sm'
        href='#'
        >Pedido personalizado</a
      >
      <a
        class='text-gray-800 text-sm font-medium border-[3px] inline-flex justify-center items-center rounded border-transparent px-[5.5rem] py-[0.4rem] bg-[var(--light)] hover:text-black transition-colors backdrop-blur-sm'
        href='#'
        >Saber más</a
      >
    </div>
  </footer>

  <img
    slot='background'
    class='object-cover h-full w-full object-center'
    alt='Model S'
    src='/landing-tesla/model-s.jpg'
  />
</Section>
