---
import Section from './Section.astro'
---

<Section
  color='black'
  title='Solar y Powerwall'
  subtitle='Energía para todos'
  id='section-powerwall'
>
<p
  slot='subtitle'
  class=`text-[var(--dark)] text-sm`
  >Energia para todos
</p>

  <footer
    slot='footer'
    class='flex flex-col flex-grow justify-end mb-16'
  >
    <div class='flex flex-row justify-center gap-6'>
      <a
        class='text-white text-sm font-medium border-[3px] inline-flex justify-center items-center rounded border-transparent px-[5.5rem] py-[0.45rem] bg-[var(--dark)] backdrop-blur-sm'
        href='#'
        >Saber más</a
      >
    </div>
  </footer>

  <img
    slot='background'
    class='object-cover h-full w-full object-center'
    alt='Powerwall'
    src='/landing-tesla/powerwall.jpg'
  />
</Section>
